notes/
slides/
*.pickle
*.npy
*.pyc
assignment/a2/.idea/
assignment/a2/utils/datasets/
assignment/a2/utils/__pycache__/
assignment/a3/__pycache__/
assignment/a3/data/
assignment/a3/results/
assignment/a4/__pycache__/
assignment/a4/en_es_data/
assignment/a4/sanity_check_en_es_data/
